

/*------------------------------------*\
  #FONTS
\*------------------------------------*/

/* @font-face {
  font-family: 'generalSans Web';
  font-weight: 400;
  src: url('../fonts/GeneralSans-Regular.woff2') format('woff2'), url('../fonts/GeneralSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'generalSans Web';
  font-weight: 600;
  src: url('../fonts/GeneralSans-Medium.woff2') format('woff2'), url('../fonts/GeneralSans-Medium.woff') format('woff');
} */

/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
  /* font-family: 'generalSans Web', 'Helvetica Neue', Helvetica, arial, sans-serif; */
  color: #241c15;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: #f0e6ff;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::selection {
  background: #6300e6;
  color: white;
  text-shadow: none;
}

/*------------------------------------*\
  #Elements
\*------------------------------------*/

/*
    Elements: Images
    ---
    Default markup for images to make them responsive
*/

img {
  max-width: 100%;
  vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1 {
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 24px;
}

h2 {
  font-size: 23px;
  line-height: 32px;
  margin: 0 0 24px;
}

h3 {
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 24px;
}

h4,
h5,
h6 {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
  margin: 0 0 24px;
}

ul,
ol {
  padding-left: 24px;
}

li ul,
li ol {
  margin-bottom: 0;
}

blockquote {
  font-style: italic;
  font-size: 23px;
  line-height: 32px;
  margin: 0 0 24px;
  font-family: 'Times New Roman', serif;
}

blockquote * {
  font-size: inherit;
  line-height: inherit;
}

figcaption {
  font-size: 12px;
  line-height: 16px;
  padding-top: 8px;
  color: Grey;
}

hr {
  border: 1;
  height: 0.07px;
  color: green;
  margin: 24px 12px;
}

a {
  color: #007c89;
  transition: all 0.1s ease-in-out;
  /* text-decoration: none; */
}

a:visited,
a:active {
  color: #007c89;
}

a:hover,
a:focus {
  color: Crimson;
}

/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
  position: relative;
  padding: 24px 24px 0;
  display: flow-root;
}
.o-row--intro {
  z-index: 10;
}

.o-row--intro {
  padding-top: 96px;
  padding-bottom: 96px;
}

.o-row--header{
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
  /* width: 110%; */
  background-color: white;
}

/* size modifiers */

.o-row--lg {
  padding-top: 48px;
  padding-bottom: 24px;
}

.o-row--xl {
  padding-top: 72px;
  padding-bottom: 48px;
}

@media (min-width: 768px) {
  .o-row {
    padding-left: 48px;
    padding-right: 48px;
  }

  .o-row--md {
    padding-top: 48px;
    padding-bottom: 24px;
  }

  .o-row--lg {
    padding-top: 72px;
    padding-bottom: 48px;
  }
}

@media (min-width: 992px) {
  .o-row--xl {
    padding-top: 96px;
    padding-bottom: 72px;
  }
}

.o-row--light {
  background-color: #ffe01b;
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 88.888888888888888888888888888889; /* 88,888888888888888888888888888889 * 18px = 1600px */
}

/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
  display: flow-root;
}

.o-section + .o-section {
  margin-top: 24px;
}

@media (min-width: 768px) {
  .o-section--lg + .o-section--lg,
  .o-section--xl + .o-section--xl {
    margin-top: 48px;
  }
}

@media (min-width: 1200px) {
  .o-section--xl + .o-section--xl {
    margin-top: 72px;
  }
}

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/



.o-layout {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.o-layout__btn{
  border-radius: 20px;
  font-size: 16px;
  background-color: white;
  border: 1px solid black
}

.o-layout__item {
  flex-basis: 100%;
}

/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter {
  margin: 0 -8px;
}

.o-layout--gutter > .o-layout__item {
  padding: 0 12px;
}

.o-layout--gutter-sm {
  margin: 0 -6px;
}

.o-layout--gutter-sm > .o-layout__item {
  padding: 0 6px;
}

.o-layout--gutter-lg {
  margin: 0 -24px;
}

.o-layout--gutter-xl {
  margin: 0 -40px;
}

.o-layout--gutter-lg > .o-layout__item {
  padding: 0 24px;
}

.o-layout--gutter-xl > .o-layout__item {
  padding: 0 40px;
}

/* reverse horizontal row modifier */

.o-layout--row-reverse {
  flex-direction: row-reverse;
}

/* Horizontal alignment modifiers*/

.o-layout--justify-start {
  justify-content: flex-start;
}

.o-layout--justify-end {
  justify-content: flex-end;
}

.o-layout--justify-center {
  justify-content: center;
}

.o-layout--justify-space-around {
  justify-content: space-around;
}

.o-layout--justify-space-evenly {
  justify-content: space-evenly;
}

.o-layout--justify-space-between {
  justify-content: space-between;
}

/* Vertical alignment modifiers */

.o-layout--align-start {
  align-items: flex-start;
}

.o-layout--align-end {
  align-items: flex-end;
}

.o-layout--align-center {
  align-items: center;
}

.o-layout--align-baseline {
  align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is one than one flex item */

.o-layout--align-content-start {
  align-content: start;
}

.o-layout--align-content-end {
  align-content: end;
}

.o-layout--align-content-center {
  align-content: center;
}

.o-layout--align-content-space-around {
  align-content: space-around;
}

.o-layout--align-content-space-between {
  align-content: space-between;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
  list-style: none;
  padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/*
    Component: Lead
    ---
    Lead type treatments to style everything that differs from standard typography elements
*/

.c-lead {
  position: relative;
}

.c-lead--ssm {
  font-size: 16px;
  line-height: 24px;
}

.c-lead--sm {
  font-size: 18px;
  line-height: 24px;
}

.c-lead--md {
  font-size: 24px;
  line-height: 32px;
}

.c-lead--lg {
  font-size: 32px;
  line-height: 40px;
}

.c-lead--xl {
  font-size: 54px;
  line-height: 56px;
}

@media (min-width: 768px) {
  .c-lead--xl {
    font-size: 41px;
    line-height: 48px;
  }
}

@media (min-width: 1200px) {
  .c-lead--xl {
    font-size: 54px;
    line-height: 56px;
  }
}

/*
    Component: Component name
    ---
    Component description
*/

/*
    Component: CTA link
    ---
    Small cta link with custom animation
*/

.c-link-cta {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  padding: 8px 20px;
  background: #007c89;
}

.c-link-cta,
.c-link-cta:visited,
.c-link-cta:active {
  color: #fff;
}

.c-link-cta:hover,
.c-link-cta:focus {
  color: #fff;
  background: #007c55;
}

.c-link-cta:active {
  background-color: #3385ff;
}

.c-link-cta--lg {
  font-size: 16px;
  padding: 16px 32px;
}

.c-link-cta--md {
  font-size: 16px;
  margin: 24px 0;
}

/*
      Component: Stat
      ---
      Component to visualise statistics
  */

/*
    Component: Nav
    ---
    Main navigation of the site
*/

.c-nav {
  font-size: 16px;
  line-height: 22px;
}

.c-nav--meta {
  font-size: 18px;
  line-height: 24px;
}

.c-nav__link {
  text-decoration: none;
  color: #241c15;
  /* font-weight: 400; */
  padding: 8px 0;
  /* links zijn standaard inline elementen!!!! */
  /* om de padding wel toe te passen doe je dit: */
  display: block;
}

.c-nav__link,
.c-nav__link:visited,
.c-nav__link:active {
  color: #241c15;
}

.c-nav__link--meta,
.c-nav__link--meta:visited,
.c-nav__link--meta:active {
  /* text-decoration: none; */
  color: #241c15;
}

/* spatie in ".is-selected .c-nav__link," wil zeggen dat er ergnes in een .is-selected een .c-nav__link staat */
.is-selected .c-nav__link,
.c-nav__link:hover,
.c-nav__link:focus {
  color: #241c15;
}

.c-nav__item {
  text-decoration: none;
  /* margin: -20px; */
}

@media (min-width: 768px) {
  .c-nav__list {
    display: flex;
    gap: 40px;
  }
}

@media (min-width: 992px) {
  .c-nav__list {
    display: flex;
  }

  .c-nav__item--cta {
    margin-left: 20px;
  }

  .c-nav__link {
    padding: 0;
  }
} /*
    Component: header
    ---
    Main header of the website
*/

.c-header {
  display: flex;
  justify-content: space-between;
  align-items: space-center;
}

.c-header__nav,
.c-header__cta {
  display: none;
}

@media (min-width: 992px) {
  .c-header__nav,
  .c-header__cta {
    display: block;
  }

  .c-header__nav {
    margin-right: 20px;

    /* solution 1 */
    /* margin-left: auto; */

    /* solution 2 */
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
}

@media (max-width: 992px) {
  .c-intro__figure {
    display: none;
  }
}

/*
    Component: Logo
    ---
    Website main logo
*/

.c-logo {
  height: 24px;
  display: flex;
  align-items: center;
}

.c-logo__symbol {
  height: 100%;
}

.c-logo__symbol {
  margin: 0;
}

.c-div__layout {
  margin: -9px ;
  /* box-shadow: 0px 3px 7px gray;
   */
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
  /* width: 110%; */
  background-color: white;
  
}

.c-text__layout-sm {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  max-width: 40rem;
  margin-bottom: 0
}

.c-text__layout-md {
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  max-width: 40rem;
  margin-bottom: 0;
}

@media (max-width:300px){

  .c-less-important__text{
    text-align: center;
    color: #595959;
    font-size: 11px;
    line-height: 16px;
  }
  
  .c-more-important__text{
    text-align: center;
    color: #595959;
    font-size: 14px;
    line-height: 21px;
    margin:0;
  }

  .c-text__layout-sm {
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    max-width: 40rem;
    margin-bottom: 0
  }
  
  .c-text__layout-md {
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    max-width: 40rem;
    margin-bottom: 0;
  }

  .c-text__layout-lg {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    max-width: 40rem;
    margin-bottom: 0;
    /* margin: 0 8px; */
    width: 100%;
  }

  .c-text__layoutHeadlights{
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    max-width: 42rem;
    margin-bottom: 0
  }
}

@media(min-width: 300px){
  .c-less-important__text{
    text-align: center;
    color: #595959;
    font-size: 11px;
    line-height: 16px;
  }
  
  .c-more-important__text{
    text-align: center;
    color: #595959;
    font-size: 14px;
    line-height: 21px;
    margin:0;
  }
  .c-text__layout-sm {
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    max-width: 40rem;
    margin-bottom: 0
  }
  
  .c-text__layout-md {
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    max-width: 40rem;
    margin-bottom: 0;
  }

  .c-text__layout-lg {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    max-width: 40rem;
    margin-bottom: 0;
    /* margin: 0 8px; */
    width: 100%;
  }

  .c-text__layoutHeadlights{
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    max-width: 42rem;
    margin-bottom: 0
  }
}

@media(min-width: 345px){
  .c-less-important__text{
    text-align: center;
    color: #595959;
    font-size: 12px;
    line-height: 18px;
  }
  
  .c-more-important__text{
    text-align: center;
    color: #595959;
    font-size: 15px;
    line-height: 22.5px;
    margin:0;
  }

  .c-text__layout-sm {
    text-align: center;
    font-size: 22px;
    line-height: 33px;
    max-width: 40rem;
    margin-bottom: 0
  }
  
  .c-text__layout-md {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    max-width: 40rem;
    margin-bottom: 0;
  }

  .c-text__layout-lg {
    text-align: center;
    font-size: 28px;
    line-height: 42px;
    max-width: 40rem;
    margin-bottom: 0;
    /* margin: 0 8px; */
    width: 100%;
  }

  .c-text__layoutHeadlights{
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    max-width: 42rem;
    margin-bottom: 0
  }
}

@media(min-width: 390px){
  .c-lead--md{
    font-size: 32px;
    line-height: 48px;
  }

  .c-lead--sm{
    font-size: 22px;
    line-height: 33px;
  }

  .o-layout__btn{
    border-radius: 20px;
    font-size: 20px;
    background-color: white;
    border: 1px solid black
  }

  .o-layout__marginBtn{
    margin-left: 16px;
  }

  .c-less-important__text{
    text-align: center;
    color: #595959;
    font-size: 15px;
    line-height: 22.5px;
  }
  
  .c-more-important__text{
    text-align: center;
    color: #595959;
    font-size: 18px;
    line-height: 27px;
    margin:0;
  }

  .c-text__layout-sm {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    max-width: 42rem;
    margin-bottom: 0
  }
  
  .c-text__layout-md {
    text-align: center;
    font-size: 26px;
    line-height: 37.5px;
    max-width: 40rem;
    margin-bottom: 0;
  }

  .c-text__layout-lg {
    text-align: center;
    font-size: 28px;
    line-height: 42px;
    max-width: 40rem;
    margin-bottom: 0;
    /* margin: 0 8px; */
    width: 100%;
  }

  .c-text__layoutHeadlights{
    text-align: left;
    font-size: 20px;
    line-height: 30px;
    max-width: 42rem;
    margin-bottom: 0
  }
}





/* .c-less-important__text{
  text-align: center;
  color: #595959;
  font-size: 11px;
  line-height: 16px;
}

.c-more-important__text{
  text-align: center;
  color: #595959;
  font-size: 14px;
  line-height: 21px;
  margin:0;
} */

/* .c-placement__text{ */
  /* text-align: center;
  width: 100%; */
  /* margin: auto;
} */

.c-midden{
  text-align: center;
  margin-top: 56px;
}

.c-more-important__content{
  /* border: 0.3px solid black; */
  padding: 8px;
  border-radius: 15px;
  background-color: white;
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.10); */
  margin-top: -10px
  /* align-self: center; */
}

.c-border{
  border: 0.3px solid black;

}

.c-buttons{
  border: 0.3px
}

.c-button__style{
  /* width: 54%; */
  width: 168px;
  height: 168px;
  background-color: white;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  box-shadow: 0 10px 20px rgba(0,0,0,0.10);
}

.c-button{

  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.10);
  margin: 24px 12px;
  /* margin-bottom: 24px; */
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 25px;
  /* max-width: 168px;
  max-height: 168px;
  width: 100%;
  height: 100%; */

}

.c-text__layout-btn{
  text-align: center;
}

@media(max-width: 425px){
  .c-button{
    max-width: 160px;
    max-height: 160px;
    width: 100%;
    height: 100%;
    font-size: 14px;
    margin: 10px auto;
  }
}

.c-car__layout{
  width: 150px;
  height: 306px;
  display: block;
}

.c-divCar__layout{
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-div1{
  width: 30%;
  float: right;
}

.c-div2{
  width: 30%;
  float: left;
  transform: rotateY(180deg);
}

.c-div3{
  width: 40%;
  margin: 0 auto;
}

.c-divkes{
  /* display: flex;
  align-content: center; */
}

.c-divDistance__layout{
  display: flex;
  justify-content: center;
}

.c-divDistance__layoutHor{
  display: inline-block
}

.c-parking__layoutSM{
  background-color: white;
  width: 55px;
  height: 15px;
  background-color: green;
}

.c-parking__layoutSMHorSM{
  background-color: white;
  width:  15px;
  height: 55px;
  background-color: green;
  margin-bottom: 8px;
  display: inline-block;
}

.c-parking__layoutSM2{
  background-color: white;
  width: 55px;
  height: 15px;
  margin-bottom: 8px;
  background-color: green;
}

.c-parking__layoutMD{
  background-color: white;
  width: 75px;
  height: 15px;
  margin-bottom: 8px;
  background-color: yellow;
}

.c-parking__layoutHorMD{
  background-color: white;
  width: 15px;
  height: 75px;
  margin-bottom: 0px;
  background-color: yellow;
  margin-left: 6px;
  display: inline-block;
}

.c-parking__layoutlg{
  background-color: white;
  width: 95px;
  height: 15px;
  margin-bottom: 8px;
  background-color: orange;
}

.c-parking__layoutHorlg{
  background-color: white;
  width: 15px;
  height: 95px;
  margin-bottom: -8px;
  background-color: orange;
  display: inline-block;
  margin-left: 6px;
  
}

.c-parking__layoutxl{
  background-color: white;
  width: 115px;
  height: 15px;
  margin-bottom: 8px;
  background-color: red;
}

.c-parking__layoutHorxl{
  background-color: white;
  width: 15px;
  height: 115px;
  margin-bottom: -16px;
  background-color: red;
  margin-left: 6px;
  display: inline-block;
}



@media(max-width: 320px){
  .c-div1{
    width: 65px;
    float: right;
  }
  
  .c-div2{
    width: 65px;
    float: left;
    
  }
  
  .c-div3{
    width: 150px;
    margin: 0 auto;
  }
  
.c-parking__layoutSMHorSM{
  background-color: white;
  width:  10px;
  height: 55px;
  background-color: green;
  margin-left: -8px;
  margin-bottom: 8px;
  display: inline-block;
}

.c-parking__layoutHorMD{
  background-color: white;
  width: 10px;
  height: 75px;
  margin-bottom: 0px;
  background-color: yellow;
  margin-left: 4px;
  display: inline-block;
}

.c-parking__layoutHorlg{
  background-color: white;
  width: 10px;
  height: 95px;
  margin-bottom: -8px;
  background-color: orange;
  display: inline-block;
  margin-left: 4px;
  
}

.c-parking__layoutHorxl{
  background-color: white;
  width: 10px;
  height: 115px;
  margin-bottom: -16px;
  background-color: red;
  margin-left: 4px;
  display: inline-block;
}

.c-parking__layoutSM{
  background-color: white;
  width: 55px;
  height: 10px;
  background-color: green;
}

.c-parking__layoutSM2{
  background-color: white;
  width: 55px;
  height: 10px;
  margin-bottom: 8px;
  background-color: green;
}

.c-parking__layoutMD{
  background-color: white;
  width: 75px;
  height: 10px;
  margin-bottom: 8px;
  background-color: yellow;
}

.c-parking__layoutlg{
  background-color: white;
  width: 95px;
  height: 10px;
  margin-bottom: 8px;
  background-color: orange;
}


.c-parking__layoutxl{
  background-color: white;
  width: 115px;
  height: 10px;
  margin-bottom: 8px;
  background-color: red;
}


}

/* @media(max-width: 420px){
  .c-button{
    max-width: 168px;
    max-height: 168px;
    width: 100%;
    height: 100%;
    font-size: 14px;
    margin: 10px auto;
  }
} */

/* .c-btns__container{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
} */



/*------------------------------------*\
  #UTILITIES
\*------------------------------------*/

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
  padding-top: 0 !important;
}

.u-mb-clear {
  margin-bottom: 0 !important;
}

.u-mb-xs {
  margin-bottom: 4px !important;
}

.u-mb-sm {
  margin-bottom: 8px !important;
}

.u-mb-md {
  margin-bottom: 16px !important;
}

.u-mb-lg {
  margin-bottom: 32px !important;
}

.u-mb-xl {
  margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-esm {
  max-width: 11em !important;
}

.u-max-width-sm {
  max-width: 36em !important;
}

.u-max-width-md {
  max-width: 45em !important;
}

.u-max-width-lg {
  max-width: 60em !important;
}

.u-max-width-xl {
  max-width: 75em !important;
}

.u-max-width-none {
  max-width: none !important;
}

/*
    Utility: Flex
    ---
    Utility classes to put specific flex properties onto elements
    Will be mostly used on o-layout__item
*/

.u-flex-basis-auto {
  flex-basis: auto !important;
}

.u-flex-grow-1 {
  flex-grow: 1 !important;
}

.u-1-of-2 {
  flex-basis: calc(100% / 2) !important;
}

.u-1-of-3 {
  flex-basis: calc(100% / 3) !important;
}

.u-2-of-3 {
  flex-basis: calc(100% / 3 * 2) !important;
}

.u-1-of-4 {
  flex-basis: calc(100% / 4) !important;
}

.u-3-of-4 {
  flex-basis: calc(100% / 4 * 3) !important;
}

.u-1-of-5 {
  flex-basis: calc(100% / 5) !important;
}

.u-2-of-5 {
  flex-basis: calc(100% / 5 * 2) !important;
}

.u-3-of-5 {
  flex-basis: calc(100% / 5 * 3) !important;
}

.u-4-of-5 {
  flex-basis: calc(100% / 5 * 4) !important;
}

.u-1-of-6 {
  flex-basis: calc(100% / 6) !important;
}

.u-5-of-6 {
  flex-basis: calc(100% / 6 * 5) !important;
}

@media (min-width: 576px) {
  .u-1-of-2-bp1 {
    flex-basis: calc(100% / 2) !important;
  }
  .u-1-of-3-bp1 {
    flex-basis: calc(100% / 3) !important;
  }
  .u-2-of-3-bp1 {
    flex-basis: calc(100% / 3 * 2) !important;
  }
  .u-1-of-4-bp1 {
    flex-basis: calc(100% / 4) !important;
  }
  .u-3-of-4-bp1 {
    flex-basis: calc(100% / 4 * 3) !important;
  }
  .u-1-of-5-bp1 {
    flex-basis: calc(100% / 5) !important;
  }
  .u-2-of-5-bp1 {
    flex-basis: calc(100% / 5 * 2) !important;
  }
  .u-3-of-5-bp1 {
    flex-basis: calc(100% / 5 * 3) !important;
  }
  .u-4-of-5-bp1 {
    flex-basis: calc(100% / 5 * 4) !important;
  }
  .u-1-of-6-bp1 {
    flex-basis: calc(100% / 6) !important;
  }
  .u-5-of-6-bp1 {
    flex-basis: calc(100% / 6 * 5) !important;
  }
}

@media (min-width: 768px) {
  .u-1-of-2-bp2 {
    flex-basis: calc(100% / 2) !important;
  }
  .u-1-of-3-bp2 {
    flex-basis: calc(100% / 3) !important;
  }
  .u-2-of-3-bp2 {
    flex-basis: calc(100% / 3 * 2) !important;
  }
  .u-1-of-4-bp2 {
    flex-basis: calc(100% / 4) !important;
  }
  .u-3-of-4-bp2 {
    flex-basis: calc(100% / 4 * 3) !important;
  }
  .u-1-of-5-bp2 {
    flex-basis: calc(100% / 5) !important;
  }
  .u-2-of-5-bp2 {
    flex-basis: calc(100% / 5 * 2) !important;
  }
  .u-3-of-5-bp2 {
    flex-basis: calc(100% / 5 * 3) !important;
  }
  .u-4-of-5-bp2 {
    flex-basis: calc(100% / 5 * 4) !important;
  }
  .u-1-of-6-bp2 {
    flex-basis: calc(100% / 6) !important;
  }
  .u-5-of-6-bp2 {
    flex-basis: calc(100% / 6 * 5) !important;
  }
}

@media (min-width: 992px) {
  .u-1-of-2-bp3 {
    flex-basis: calc(100% / 2) !important;
  }
  .u-1-of-3-bp3 {
    flex-basis: calc(100% / 3) !important;
  }
  .u-2-of-3-bp3 {
    flex-basis: calc(100% / 3 * 2) !important;
  }
  .u-1-of-4-bp3 {
    flex-basis: calc(100% / 4) !important;
  }
  .u-3-of-4-bp3 {
    flex-basis: calc(100% / 4 * 3) !important;
  }
  .u-1-of-5-bp3 {
    flex-basis: calc(100% / 5) !important;
  }
  .u-2-of-5-bp3 {
    flex-basis: calc(100% / 5 * 2) !important;
  }
  .u-3-of-5-bp3 {
    flex-basis: calc(100% / 5 * 3) !important;
  }
  .u-4-of-5-bp3 {
    flex-basis: calc(100% / 5 * 4) !important;
  }
  .u-1-of-6-bp3 {
    flex-basis: calc(100% / 6) !important;
  }
  .u-5-of-6-bp3 {
    flex-basis: calc(100% / 6 * 5) !important;
  }
}

@media (min-width: 1200px) {
  .u-1-of-2-bp4 {
    flex-basis: calc(100% / 2) !important;
  }
  .u-1-of-3-bp4 {
    flex-basis: calc(100% / 3) !important;
  }
  .u-2-of-3-bp4 {
    flex-basis: calc(100% / 3 * 2) !important;
  }
  .u-1-of-4-bp4 {
    flex-basis: calc(100% / 4) !important;
  }
  .u-3-of-4-bp4 {
    flex-basis: calc(100% / 4 * 3) !important;
  }
  .u-1-of-5-bp4 {
    flex-basis: calc(100% / 5) !important;
  }
  .u-2-of-5-bp4 {
    flex-basis: calc(100% / 5 * 2) !important;
  }
  .u-3-of-5-bp4 {
    flex-basis: calc(100% / 5 * 3) !important;
  }
  .u-4-of-5-bp4 {
    flex-basis: calc(100% / 5 * 4) !important;
  }
  .u-1-of-6-bp4 {
    flex-basis: calc(100% / 6) !important;
  }
  .u-5-of-6-bp4 {
    flex-basis: calc(100% / 6 * 5) !important;
  }
}

/*------------------------------------*\
  #MEDIA
\*------------------------------------*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: ' (' attr(href) ')';
  }
  abbr[title]:after {
    content: ' (' attr(title) ')';
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^='#']:after,
  a[href^='javascript:']:after {
    content: '';
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

.u-higherTop {
  padding: 96px;
}

.u-fixed {
  position: fixed;
  z-index: 100;
}


/* opmaak van de bulb */
.c-fancy-bulb {
  position: relative;
}
.c-fancy-bulb__streaks,
.c-fancy-bulb__streaks:after,
.c-fancy-bulb__streaks:before {
  position: absolute;
  background: #ffdb55;
  border-radius: 5.5px;
  height: 11px;
  z-index: 5000;
}

.c-fancy-bulb__streaks:after,
.c-fancy-bulb__streaks:before {
  content: '';
  display: block;
}

.c-fancy-bulb__streaks:before {
  bottom: 65px;
}

.c-fancy-bulb__streaks:after {
  top: 65px;
}

.c-fancy-bulb__streaks--left {
  right: 217px;
  top: 89.5px;
}
.c-fancy-bulb__streaks--left:before,
.c-fancy-bulb__streaks--left:after {
  left: 15px;
}

.c-fancy-bulb__streaks--right {
  left: 217px;
  top: 89.5px;
}

.c-fancy-bulb__streaks--right:before,
.c-fancy-bulb__streaks--right:after {
  right: 15px;
}

.c-fancy-bulb__streaks--left:before,
.c-fancy-bulb__streaks--righ:after {
  -webkit-transform: rotate(34deg);
  transform: rotate(34deg);
}

.c-fancy-bulb__streaks--left:after,
.c-fancy-bulb__streaks--righ:before {
  -webkit-transform: rotate(-34deg);
  transform: rotate(-34deg);
}

.c-fancy-bulb__light {
  -webkit-transform: translate(50%, 50%) scale(0);
  transform: translate(50%, 50%) scale(0);
  opacity: 0;
  fill: #ffdb55;
}

.c-room {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 1em;
  margin: 0 0.5em;
}
.c-room__name {
  font-family: Roboto;
  font-size: 1.25em;
  font-weight: 100;
  text-align: center;
  margin-bottom: 12px;
  color: #38434a;
}
.c-room__icon {
  margin-bottom: 20px;
}
.c-room__control {
}

.c-room--wait .c-fancy-bulb__light {
  opacity: 1;
  -webkit-transform: translate(0) scale(1);
  transform: translate(0) scale(1);
  transition: all 0.14s ease-in;
  fill: rgb(248, 238, 203);
}

.c-room--on .c-fancy-bulb__light {
  opacity: 1;
  -webkit-transform: translate(0) scale(1);
  transform: translate(0) scale(1);
  transition: all 0.14s ease-in;
  fill: #ffdb55;
}

.c-room--on .c-fancy-bulb__streaks--left {
  -webkit-animation: move-left 0.38s ease-out, width-to-zero 0.38s ease-out;
  animation: move-left 0.38s ease-out, width-to-zero 0.38s ease-out;
  -webkit-animation-delay: 0.14s;
  animation-delay: 0.14s;
}

.c-room--on .c-fancy-bulb__streaks--left:before {
  -webkit-animation: width-to-zero 0.38s ease-out, move-up 0.38s ease-out;
  animation: width-to-zero 0.38s ease-out, move-up 0.38s ease-out;
  -webkit-animation-delay: 0.14s;
  animation-delay: 0.14s;
}
.c-room--on .c-fancy-bulb__streaks--left:after {
  -webkit-animation: width-to-zero 0.38s ease-out, move-down 0.38s ease-out;
  animation: width-to-zero 0.38s ease-out, move-down 0.38s ease-out;
  -webkit-animation-delay: 0.14s;
  animation-delay: 0.14s;
}

.c-room--on .c-fancy-bulb__streaks--right {
  -webkit-animation: move-right 0.38s ease-out, width-to-zero 0.38s ease-out;
  animation: move-right 0.38s ease-out, width-to-zero 0.38s ease-out;
  -webkit-animation-delay: 0.14s;
  animation-delay: 0.14s;
}

.c-room--on .c-fancy-bulb__streaks--right:before {
  -webkit-animation: width-to-zero 0.38s ease-out, move-up 0.38s ease-out;
  animation: width-to-zero 0.38s ease-out, move-up 0.38s ease-out;
  -webkit-animation-delay: 0.14s;
  animation-delay: 0.14s;
}
.c-room--on .c-fancy-bulb__streaks--right:after {
  -webkit-animation: width-to-zero 0.38s ease-out, move-down 0.38s ease-out;
  animation: width-to-zero 0.38s ease-out, move-down 0.38s ease-out;
  -webkit-animation-delay: 0.14s;
  animation-delay: 0.14s;
}

.c-room--on .c-power-btn {
  background: #58c48d;
}
.c-room--on .c-power-btn:active {
  box-shadow: inset 0px 6px 8px -1px #41b77b;
}


